:root {
  --dark-purple: #322153;
  --green: #34cb79;
  --backgroung: #f0f0f5;
  --text-light: #ffffff;
}

/*
* Global
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--backgroung);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--dark-purple);
}
